.car-gallery {
    height: fit-content;
}

.car-gallery-row {
    display: flex;
}

.full-width {
    flex: 1 !important;
}

.car-gallery .car-gallery-item {
    border: 1px solid white;
    width: 100%;
    flex: 0 0 calc(50%);
}

.car-gallery .car-gallery-item img {
    display: block;
    object-fit: cover;
    height: 30vh;
    background-position: 50% 50%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.car-gallery .car-gallery-item img:hover {
    /* transform: scale(1.1); */
    opacity: .9;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    border-radius: 5px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0 !important;
    text-align: center;
}
.modal-header {
    padding: 10px !important;
}
.modal-body {
    padding: 0 !important;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.close-button:hover {
    background-color: #555;
}