section.destination{
    padding: 100px 200px 0;
}
section.destination h1{
    color: #333333;
    font-size: 2.5em;
}

.destination-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 30px;
}

.destination-list .destination-item {
    max-width: 250px;
    height: auto;
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(240, 240, 240, 0.45);
}
.destination-list .destination-item img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 1em;
}
.destination-list .destination-item .location{
    font-size: 12px;
    
}
.destination-list .destination-item .location .location-title{
    color: #8F8F8F;
    margin-left: .5em;
}
.destination-list .destination-item .title{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: 1em;
}
.destination-list .destination-item a{
    display: block;
    text-align: start;
}
.destination-list .destination-item a .button {
  align-items: center;
  background-clip: padding-box;
  background-color: #65b9dd;
  border: 1px solid transparent;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button:hover,
.button:focus {
  background-color: #64c9f5;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; */
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #5cb9e0;
  /* box-shadow: rgba(0, 0, 0, .06) 0 2px 4px; */
  transform: translateY(0);
}
