.destination{
    padding: 5em 0;
}
.destination h1{
    font-size: 1.3em;
    color: #333333;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0.5em;
    text-align: center;
}
.destination p{
    color: #333333;
    text-align: center;
}
ul.destination-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2em;
    align-items: center;
}
li.destination-item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255)
}
li.destination-item a{
    display: block;
    padding: 10px;
    text-decoration: none;
}
li.destination-item img{
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: .5em;
}
.destination-item .location{
    font-size: 12px;
    margin-bottom: .5em;
}
.destination-item .location span{
    margin-left: 5px;
}
.destination-item .title{
    /* font-weight: bold; */
    margin-bottom: 5px;
}