/* logo font */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
/* content font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header{
    font-family: 'Lato', sans-serif;
    display: flex;
    height: auto;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    padding: 0 30px;
    position: relative;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.nav-toggle{
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 7px;
    font-size: 30px;
    display: inline-block;
    transform: translate(-50%, -50%);
}
.nav-toggle i{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2em;
}
header .logo{
    margin: 30px 0;
}
header a{
    text-decoration: none;
    color: #333333;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
nav ul li a{
    display: block;
    padding: 5px 58px;
}
nav ul li{
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1px;
    /* padding: 5px 58px; */
    transition: all 0.3s ease 0s;
}
nav ul li a button {
    padding: 10px 20px;
    background-color: #FA8443;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1em;
    
}

nav ul li a button:hover {
    background-color: #d87139;
}
nav ul li:first-child{
    margin-top: 0;
}
nav ul li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
nav ul li:hover{
    border-bottom-color: #0088a9 !important;
}
nav ul li:hover a{
    color: #0088a9 !important;
}
.active{
    display: flex;
}
.logo a{
    font-size: .8em;
    font-family: 'Reem Kufi', sans-serif;
    color: #77D4FC;
    word-spacing: .4em;
}
.cta{
    display: block;
}
@media screen and (max-width: 390px) {
    .logo a{
        font-size: .55em;
    }
    nav ul li:last-child{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header{
        /* height: 80px; */
        flex-direction: row;
        align-items: center;
    }
    .logo{
        /* padding-left: 50px; */
        margin: 20px !important;
        flex: 1;
        cursor: pointer;
        user-select: none;
    }
    .logo a{
        font-size: .5em;
    }
    
    nav ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    nav ul li{
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom: 0;
    }
    nav ul li a{
        padding: 0;
    }
    nav ul li:last-child{
        margin: 0;
    }

    .nav-toggle{
        display: none;
    }

}
@media screen and (max-width: 1000px) {
    /* .cta{
        display: none;
    } */
}
