/* content font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Kanit', sans-serif;
}
section.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.slogan h1{
    font-size: 3.2em;
    color: #333333;
    font-family: 'Poppins', sans-serif !important; 
    margin-bottom: .3em;
    width: 600px;
}
.hero-img{
    background-image: url("../../../public/people.png");
    width: 500px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
.hero-img .place{
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 16px;
    height: fit-content;
    box-shadow: rgba(120, 126, 133, 0.2) 0px 8px 24px;
    transition: all 0.3s ease 0s;
    position: absolute;
}
.hero-img .place:hover,
.hero.icon1:hover ,
.hero.icon2:hover
{
    transform: scale(1.15);
    user-select: none;
}
.hero-img .place .title{
    color: #333333;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: .8em;
    /* margin-bottom: .5em; */
}
.hero-img .place .location span{
    color: #8F8F8F;
    margin-left: 8px;
    font-size: 12px;
}
.hero-img .place img{
    width: 180px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 85%;
    border-radius: 8px;
    /* margin-bottom: .5em; */
}
.place.banner1{
    top: 60%;
    left: -5%;
}
.place.banner2{
    top: 40%;
    left: 65%;
}
.hero.icon1{
    position: absolute;
    top: 9%;
    left: 20%;
}
.hero.icon2{
    position: absolute;
    top: 17%;
    left: 66%;
}
.hero.icon1{
    display: flex;
    background-color: white;
    padding: 5px;
    box-shadow: rgba(120, 126, 133, 0.2) 0px 8px 24px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.hero.icon2{
    display: flex;
    background-color: white;
    padding: 10px 20px;
    box-shadow: rgba(120, 126, 133, 0.2) 0px 8px 24px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}
.hero.icon1 i,.hero.icon2 i{
    color: #42a7c3;
}
.hero.icon2 span{
    margin-left: 1em;
}

