.hero-destination{
    border-radius: 7px;
    margin: 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}
.hero-destination h1{
    font-size: 1.3em;
    color: #333333;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.hero-destination p{
    color: #333333;
    margin: 0;
}
.hero-destination .destinate img{
    display: block;
    width: 100%;
}
.hero-wrap a{
    display: block;
    padding: 1em .5em;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    transition: all 0.3s ease 0s;
    background-color: #77D4FC;
    box-shadow: none;
    color: white;
}
.hero-wrap a:hover{
    background-color: #61aecf;
}