.hero-destination{
    margin: 50px 0;
    padding: 20px;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
}
.hero-destination h1{
    font-size: 1.3em;
    color: #333333;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0.5em;
    /* text-align: center; */
}
.hero-destination p{
    color: #333333;
    /* text-align: center; */
}
.hero-destination .destinate img{
    display: block;
    width: 100%;
    margin: 1em 0;
    border-radius: 8px;
}
.destinate a{
    display: block;
    padding: 1em .5em;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    transition: all 0.3s ease 0s;
    background-color: #77D4FC;
    box-shadow: none;
    color: white;
}
.destinate a:hover{
    background-color: #61aecf;
}