.service{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    margin: 40px 0;
    border-radius: 7px;
}
.service img{
    display: block;
    width: 100%;
}
.service h1{
    color: #333333;
}
.service .hero-wrap .link-reviews i{
    display: inline-block;
    margin-left: .5em;
}
.service .hero-wrap .link-reviews{
    width: fit-content;
    display: block;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 30px;
    border: 1px solid #42a7c3;
    background-color: #42a7c3;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}
.service .hero-wrap .link-reviews:hover{
    background-color: #2d869e;
}
