.service{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 7px;
}
.service img{
    display: block;
    width: 100%;
}
.service h1{
    font-size: 1.3em;
    color: #333333;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.service .hero-wrap p{
    margin: 0;
}
.service div .detail-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.service div .detail-list li{
    margin-bottom: .5em;
    display: flex;
}
.service div .detail-list li:last-child{
    margin-bottom: 0;
}
.service div .detail-list li i{
    margin-right: 1em;
    display: inline-block;
    color: #42a7c3;
}
.service div .detail-list li span{
    display: inline-block;
}